/* --- color pallette --- */

:root {
	--background: #2e2d2d;
	--dark-gray: #212121;
	--text-white: #d9d9d9;
	--darker-white: #929292;
	--light-red: #9e2a2b;
	--dark-red: #540b0e;
	--gold: #e09f3e;
	--cream: #fff3b0;
	--cyan: #335c67;
}

/* --- animation --- */

@keyframes screen-appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.navbarItem:hover {
	background-color: var(--light-red);
	color: var(--text-white);
	padding: 1%;
	box-shadow: 0.4vw 0.8vw var(--dark-red);
}

/* --- styles --- */

.navbarItem {
	padding: 0.5%;
	color: var(--darker-white);
	border-radius: 20px;
	transition: all 0.5s;
}

.contentBox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

#navbar {
	width: 100%;
	height: 10%;
	font-weight: bold;
	font-size: 2.5vw;
}

#nametag {
	width: 30%;
}

#navbarLinks {
	width: 60%;
}